# Recommendation Systems - Lab

## Introduction

Now that you've gotten an introduction to collaborative filtering and recommendation systems, it's time to put your skills to test and attempt to build a recommendation system for a real world dataset! For this exercise, you'll be using a dataset regarding the book reviews on the Amazon marketplace. While the previous lesson focused on user-based recommendation systems, you'll apply a parallel process for an item-based recommendation system to recommend similar books at the bottom of the product page.

## Objectives

You will be able to:
* Implement a recommendation system on a real world dataset

## Load the Dataset

In [1]:
import numpy as np
import pandas as pd

In [17]:
#Your code here
# books_data.edgelist
# books_meta.txt

df = pd.read_csv('books_data.edgelist',delimiter=" ",header=None,names=['ASIN1','ASIN2','Weight'])
print(df.shape)
df.head()

(741124, 3)

        ASIN1       ASIN2  Weight
0  0827229534  0804215715     0.7
1  0827229534  156101074X     0.5
2  0827229534  0687023955     0.8
3  0827229534  0687074231     0.8
4  0827229534  082721619X     0.7

## Load the MetaData

In [12]:
#Your code here
metadata = pd.read_csv('books_meta.txt',delimiter="\t",index_col=0)
metadata.head()

,ASIN,Title,Categories,Group,SalesRank,TotalReviews,AvgRating,DegreeCentrality,ClusteringCoeff
Id,,,,,,,,,
1,0827229534,Patterns of Preaching: A Sermon Sampler,clergi sermon subject religion preach spiritu ...,Book,396585,2,5.0,8,0.80
2,0738700797,Candlemas: Feast of Flames,subject witchcraft earth religion spiritu base...,Book,168596,12,4.5,9,0.85
3,0486287785,World War II Allied Fighter Planes Trading Cards,general hobbi subject craft home garden book,Book,1270652,1,5.0,0,0.00
4,0842328327,Life Application Bible Commentary: 1 and 2 Tim...,spiritu translat commentari christian book gui...,Book,631289,1,4.0,6,0.79
5,1577943082,Prayers That Avail Much for Business: Executive,subject religion spiritu busi christian live w...,Book,455160,0,0.0,4,1.00

## Select Books to Test Your Recommender On

Select a small subset of books that you are interested in generating recommendations for.

In [41]:
#Your code here
metadata.loc[5570]

ASIN                                                       096693170X
Title                             The Y2K Survival Guide and Cookbook
Categories          busi book com cook offic futurolog wine genera...
Group                                                            Book
SalesRank                                                      344392
TotalReviews                                                        9
AvgRating                                                           5
DegreeCentrality                                                    5
ClusteringCoeff                                                   0.9
Name: 5570, dtype: object

## Generate Recommendations for a Few Books of Choice

The 'books_data.edgelist' has conveniently already calculated the distance between items for you. Given this preprocessed and data, it's time to employ collaborative filtering to generate recommendations! Generate the top 10 recommendations for each book in the subset you chose. Be sure to print the book name that you are generating recommendations for as well as the name of the books being recommended.

In [98]:
def get_book_recommendations(metadata_index,n=10):
    title = metadata.Title[metadata_index]
    book_ID = metadata.ASIN[metadata_index]
    recommendations = df[(df.ASIN1==book_ID) | (df.ASIN2==book_ID)].sort_values('Weight',
                                                                               ascending=False).head(n)
    print("Recommendations for ",title)
    for i, row in enumerate(recommendations.index):
        if recommendations.ASIN1[row]==book_ID:
            book_to_recommend = recommendations.ASIN2[row]
        else:
            book_to_recommend = recommendations.ASIN1[row]
        recommended_title = metadata.Title[metadata.ASIN==book_to_recommend].to_string(header=False,index=False)
        print(f"{i}) {recommended_title}, {recommendations.Weight[row]}")
    return

In [99]:
get_book_recommendations(5570)

Recommendations for  The Y2K Survival Guide and Cookbook
0) Making the Best of Basics: Family Preparedness..., 0.26
1) Emergency Food Storage & Survival Handbook : E..., 0.23
2) When Technology Fails: A Manual for Self-Relia..., 0.1
3) Crisis Preparedness Handbook: A Complete Guide..., 0.06
4) Where There Is No Dentist, 0.06

In [100]:
GOT = metadata[metadata.Title.str.contains('Thrones')]
GOT

,ASIN,Title,Categories,Group,SalesRank,TotalReviews,AvgRating,DegreeCentrality,ClusteringCoeff
Id,,,,,,,,,
83450,0553103547,"A Game of Thrones (A Song of Ice and Fire, Boo...",general subject martin author epic z seri fant...,Book,16330,1191,4.5,4,0.67
182190,1572701293,"Thrones, Dominations",literatur seri tape book format fiction genera...,Book,395606,61,3.5,4,0.90
256164,0553573403,"A Game of Thrones (A Song of Ice and Fire, Boo...",general subject martin author epic z seri fant...,Book,969,1196,4.5,7,0.48
362549,0553381687,"A Game of Thrones (A Song of Ice and Fire, Boo...",general subject martin author epic z seri fant...,Book,11463,1196,4.5,4,0.67
457079,0312968302,"Thrones, Dominations (A Lord Wimsey Mystery)",general subject british author sayer dorothi l...,Book,68918,61,3.5,7,0.81

In [102]:
for metadata_index in GOT.index:
    get_book_recommendations(metadata_index)
    print("")

Recommendations for  A Game of Thrones (A Song of Ice and Fire, Book 1)
0) A Clash of Kings (A Song of Ice and Fire, Book 2), 1.0
1) A Feast for Crows (A Song of Ice and Fire, Boo..., 0.92
2) A Storm of Swords (A Song of Ice and Fire, Boo..., 0.85
3) Assassin's Apprentice (The Farseer Trilogy, Bo..., 0.56

Recommendations for  Thrones, Dominations
0) Have His Carcase, 0.59
1) The Nine Tailors, 0.58
2) Strong Poison, 0.55
3) Busman's Honeymoon, 0.55

Recommendations for  A Game of Thrones (A Song of Ice and Fire, Book 1)
0) A Storm of Swords : Book Three of A Song of Ic..., 1.0
1) A Storm of Swords (A Song of Ice and Fire, Boo..., 1.0
2) A Clash of Kings (A Song of Ice and Fire, Book 2), 1.0
3) A Feast for Crows (A Song of Ice and Fire, Boo..., 0.92
4) A Storm of Swords (A Song of Ice and Fire, Boo..., 0.85
5) Assassin's Apprentice (The Farseer Trilogy, Bo..., 0.56
6) The Fourth Tower of Inverness, 0.24

Recommendations for  A Game of Thrones (A Song of Ice and Fire, Book 1)
0) A Clash of Kings (A Song of Ice and Fire, Book 2), 1.0
1) A Feast for Crows (A Song of Ice and Fire, Boo..., 0.92
2) A Storm of Swords (A Song of Ice and Fire, Boo..., 0.85
3) Assassin's Apprentice (The Farseer Trilogy, Bo..., 0.56

Recommendations for  Thrones, Dominations (A Lord Wimsey Mystery)
0) Have His Carcase, 0.93
1) Strong Poison, 0.86
2) Busman's Honeymoon, 0.86
3) A Presumption of Death (Mystery Masters Series), 0.75
4) A Presumption of Death: A New Lord Peter Wimse..., 0.71
5) The Nine Tailors, 0.67
6) A Presumption of Death (Mystery Masters Series), 0.63

## Summary

Well done! In this lab, you effectively created a recommendation system for a real world dataset!